{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Pottery Tracker - Add Piece

{% endblock %}


{% block content %}

        <h2>Add a Piece</h2>


    <article id="form">


        <form action="/addPiece" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new piece"
                required
            >

            <input
                type="text"
                name="description"
                placeholder="Description"
                required
            >

            <button>Add the piece</button> 
           <a role="button" href="/">Back</a>


        </form>

    </article>

{% endblock %}

