{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - About Flask and Jinja

{% endblock %}


{% block content %}

        <h2>Add a Piece</h2>


    <article id="form">


        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new piece"
                required
            >

            <select name="select" aria-label="Select" required>

                <option selected disabled value="">Select</option>

                {% for glaze in glazes %}
                    <option value="{{ glaze.name }}">{{ glaze.name }}</option>
                {% endfor %}

             </select>
                                


            <input
                type="text"
                name="description"
                placeholder="Description"
                required
            >

            <button>Add the piece</button> 
            <button class="cancel-button"><a href="/" class="button">Cancel</a></button>


        </form>

    </article>

{% endblock %}

