{#=====================================================
  Home page
  - Hero style greeting banner
  - List of pieces passed in as 'pieces' array
  
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Pottery Tracker

{% endblock %}


{% block content %}



  
    <h1>Pieces</h1>

    <article id="home">

        <ul>
            {% for piece in pieces %}

                <li>
                    <a href="/piece/{{ piece.id }}">
                        {{ piece.name }}
                    </a>
                </li>

            {% else %}

                <p>Get to making something!</p>

            {% endfor %}
        </ul>

        

    </article>


    <h1>Glazes</h1>


    <article id="home">

        <ul>
            {% for glaze in glazes %}

                <li>
                    <a href="/glaze/{{ glaze.id }}">
                        {{ glaze.name }}
                    </a>
                </li>

            {% else %}

                <p>Nothing to see here!</p>

            {% endfor %}
        </ul>

    </article>


  
    

{% endblock %}

