{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>Pottery track</h1>

    <p>This is a simple tracking app</p>

    <p>It includes...</p>

    <ul>
        <li>simetghings</li>
    </ul>

    <a href="/pieces" role="button">add piece</a>

{% endblock %}

