{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

  <ul>

   <a href="/"><img src="docs/screenshots/icons8-home-50.png" alt="home icon"></a>
  
  </ul>
    

{% endblock %}

