{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Piece

{% endblock %}


{% block content %}

    


    <article>

        <header>
            <h1>{{ piece.name }}</h1>
        </header>

        <p>Description: {{ piece.description }}</p>

        <h2>Glazing So Far...</h2>

        <form action="/updatePiece" method="POST">

            <table>
                <thead>
                    <tr>
                    <th scope="col">Glaze</th>
                    <th scope="col">Times Glazed</th>
                    <th scope="col">Date Glazed</th>
                    </tr>
                </thead>

                <tbody>
                    {% for dip in dips %}
                    <tr>
                        <td>{{ dip.name }}</td>
                        <td>{{ dip.layers }}</td>
                        <td>{{ dip.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
          
        
            </table>
            
                
             
        
        <input type="hidden" name="p_id" value={{ piece.id }}>

        <label for="g_id">Select a glaze:</label>
        <select name="g_id" id="g_id" required>
            <option disabled selected value="">Choose glaze</option>
            {% for glaze in glazes %}
                <option value={{ glaze.id }}>{{ glaze.name }}</option>
            {% endfor %}
        </select>

        <label for="layers">Number of layers:</label>
        <input type="number" name="layers" id="layers" min="1" value="1" required>

        <button type="submit">Add Glaze Layer</button>
    </form>

        <footer>
            <a href="/delete/piece{{ piece.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>
    

    
    <button id="cancel-button"><a href="/" class="button">Cancel</a></button>

{% endblock %}

