{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Piece

{% endblock %}


{% block content %}

    


    <article>

        <header>
            <h1>{{ piece.name }}</h1>
        </header>

        <p>Description: {{ piece.description }}</p>

        <h2>Glazing So Far...</h2>

        <ul>
            {% for dip in dips %}
                <li>{{ dip.date }} - {{ dip.name }}, {{ dip.layers }} layers</li>
            {% else %}
                None
            {% endfor %}  
        </ul>     

        <form action="/updatePiece" method="POST">

            <table>
             <select name="select" aria-label="Select" required>

                <option selected disabled value="">Select</option>

                {% for glaze in glazes %}
                    <option value="{{ glaze.name }}">{{ glaze.name }}</option>
                {% endfor %}

             </select>
        
            </table>
        </form>

        <footer>
            <a href="/delete/piece{{ piece.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>
    

    <a role="button" href="/" onclick="return ">Save</a>
    <button id="cancel-button"><a href="/" class="button">Cancel</a></button>

{% endblock %}

