{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Piece

{% endblock %}


{% block content %}

    <h1>A Single Piece...</h1>


    <article>

        <header>
            <h3>{{ piece.name }}</h3>
        </header>

        <h3>Description: {{ piece.description }}</h3>

        

        <footer>
            <a href="/delete/piece{{ piece.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/">Back to Home Page</a>

{% endblock %}

