/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/
/* HEADER --------------------------------------------*/ 
nav {
    justify-content: center;
}


/* HOME PAGE --------------------------------------------*/ 
article#home {
    width: 500px;       
    margin: auto; 
    border: 1px;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

/* ABOUT PAGE -------------------------------------------- */

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

/* FORM -----------------------------------------------*/

button#cancel-button {
    background-color: black;
}



#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }

